form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  // For Small-Sized Devices Only
  .row.d-md-none
    .col
      sb-table
        ng-container(header='')
          tr
            th.col-sm-1.text-center.align-middle(scope='col')
              span #
            th.col-sm-9.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.col-sm-2.text-center.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(body='')
          tr(*ngfor='let fluxType of fluxesTypesRecordsTabulationService.fluxesTypes$ | async')
            td.text-center.align-middle
              | {{fluxType.pos}}
            td.text-left.align-middle
              ngb-highlight([result]='fluxType.name', [term]='fluxesTypesRecordsTabulationService.searchTerm')
            td.text-center.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='Flux Type', id='{{fluxType.id}}', (delete)='onDeleteFluxType($event)', tooltip='Delete {{fluxType.name}}')
                sb-button(action='update', entity='Flux Type', id='{{fluxType.id}}', (update)='onUpdateFluxType($event)', tooltip='Update {{fluxType.name}}')
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='6')
              span.d-flex.flex-row.flex-row-reverse
                sb-button(action='add', entity='Flux Type', (add)='onAddFluxType()')
  // For Middle-Sized Devices Upwards
  .row.d-none.d-md-block
    .col
      sb-table
        ng-container(header='')
          tr
            th.col-md-1.text-center.align-middle(scope='col')
              span #
            th.col-md-3.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.col-md-7.text-left.align-middle(scope='col', sbsortable='description', (sort)='onSort($event)')
              span Description
              sb-sort-icon(*ngif='sortedColumn === "description"', [direction]='sortedDirection')
            th.col-md-1.text-center.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(body='')
          tr(*ngfor='let fluxType of fluxesTypesRecordsTabulationService.fluxesTypes$ | async')
            td.text-center.align-middle
              | {{fluxType.pos}}
            td.text-left.align-middle
              ngb-highlight([result]='fluxType.name', [term]='fluxesTypesRecordsTabulationService.searchTerm')
            td.text-left.align-middle
              ngb-highlight([result]='fluxType.description', [term]='fluxesTypesRecordsTabulationService.searchTerm')
            td.text-center.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='Flux Type', id='{{fluxType.id}}', (delete)='onDeleteFluxType($event)', tooltip='Delete {{fluxType.name}}')
                sb-button(action='update', entity='Flux Type', id='{{fluxType.id}}', (update)='onUpdateFluxType($event)', tooltip='Update {{fluxType.name}}')
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='6')
              span.d-flex.flex-row.flex-row-reverse
                sb-button(action='add', entity='Flux Type', (add)='onAddFluxType()')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
