form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  .row
    .col
      sb-table
        ng-container(header)
          tr
            th.text-center.align-middle(scope='col')
              span #
            th.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.align-middle(scope='col')
              span Description
            th.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='4')
              span.d-flex.flex-row-reverse
                sb-button(action='add', entity='ReportingFramework', (add)='onAddReportingFramework()')
        ng-container(body)
          tr(*ngfor='let reportingFramework of reportingFrameworksTableService.reportingFrameworks$ | async')
            td.text-center.align-middle
              | {{reportingFramework.pos}}
            td.align-middle
              ngb-highlight([result]='reportingFramework.name', [term]='reportingFrameworksTableService.searchTerm')
            td.align-middle
              ngb-highlight([result]='reportingFramework.description', [term]='reportingFrameworksTableService.searchTerm')
            td.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='ReportingFramework', id='{{reportingFramework.id}}', (delete)='onDeleteReportingFramework($event)')
                sb-button(action='update', entity='ReportingFramework', id='{{reportingFramework.id}}', (update)='onUpdateReportingFramework($event)')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
