form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  .row
    .col
      sb-table
        ng-container(header='')
          tr
            th.text-center.align-middle(scope='col')
              span #
            th.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='3')
              span.d-flex.flex-row.flex-row-reverse
                sb-button(action='add', entity='Land Use Category', (add)='onAddLandUseCategory()')
        ng-container(body='')
          tr(*ngfor='let landUseCategory of landUseCategoriesTableService.landUseCategories$ | async')
            td.text-center.align-middle
              | {{landUseCategory.pos}}
            td.align-middle
              ngb-highlight([result]='landUseCategory.name', [term]='landUseCategoriesTableService.searchTerm')
            td.align-middle
              span.d-flex.flex-row-reverse
                // <sb-button action="open" entity="Land Use Category Home" id="{{landUseCategory.id}}" name="{{landUseCategory.name}}" tooltip="Configure category and its subcategories" (open)="onOpenLandUseCategory($event)"></sb-button>
                sb-button(action='delete', entity='Land Use Category', id='{{landUseCategory.id}}', (delete)='onDeleteLandUseCategory($event)')
                sb-button(action='update', entity='Land Use Category', id='{{landUseCategory.id}}', (update)='onUpdateLandUseCategory($event)')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
