form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  .row
    .col
      sb-table
        ng-container.table-header
          tr
            th(scope='col')
              span #
            th(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Country
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th(scope='col', sbsortable='area', (sort)='onSort($event)')
              span Area
              sb-sort-icon(*ngif='sortedColumn === "area"', [direction]='sortedDirection')
            th(scope='col', sbsortable='population', (sort)='onSort($event)')
              span Population
              sb-sort-icon(*ngif='sortedColumn === "population"', [direction]='sortedDirection')
        ng-container.table-body
          tr(*ngfor='let country of countryService.countries$ | async')
            th(scope='row')
              | {{ country.id }}
            td
              img.mr-2([src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag", style='width: 20px')
              ngb-highlight([result]='country.name', [term]='countryService.searchTerm')
            td
              ngb-highlight([result]='country.area | number', [term]='countryService.searchTerm')
            td
              ngb-highlight([result]='country.population | number', [term]='countryService.searchTerm')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
