form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  .row
    .col
      sb-table
        ng-container(header)
          tr
            th.text-center.align-middle(scope='col')
              span #
            th.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.align-middle(scope='col', sbsortable='abbreviation', (sort)='onSort($event)')
              span Abbreviation
              sb-sort-icon(*ngif='sortedColumn === "abbreviation"', [direction]='sortedDirection')
            th.align-middle(scope='col')
              span Description
            th.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='4')
              span.d-flex.flex-row-reverse
                sb-button(action='add', entity='EmissionType', (add)='onAddEmissionType()')
        ng-container(body')
          tr(*ngfor='let emissionType of emissionTypesTableService.emissionTypes$ | async')
            td.text-center.align-middle
              | {{emissionType.pos}}
            td.align-middle
              ngb-highlight([result]='emissionType.name', [term]='emissionTypesTableService.searchTerm')
            td.align-middle
              ngb-highlight([result]='emissionType.abbreviation', [term]='emissionTypesTableService.searchTerm')
            td.align-middle
              ngb-highlight([result]='emissionType.description', [term]='emissionTypesTableService.searchTerm')
            td.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='EmissionType', id='{{emissionType.id}}', (delete)='onDeleteEmissionType($event)')
                sb-button(action='update', entity='EmissionType', id='{{emissionType.id}}', (update)='onUpdateEmissionType($event)')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
