form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  // For Small-Sized Devices Only
  .row.d-md-none
    .col
      sb-table
        ng-container(header='')
          tr
            th.col-sm-1.text-center.align-middle(scope='col')
              span #
            th.col-sm-9.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.col-sm-2.text-center.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(body='')
          tr(*ngfor='let landUseCategory of landUsesCategoriesTableService.landUsesCategories$ | async')
            td.text-center.align-middle
              | {{landUseCategory.pos}}
            td.text-left.align-middle
              ngb-highlight([result]='landUseCategory.name', [term]='landUsesCategoriesTableService.searchTerm')
            td.text-center.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='LandUseCategory', id='{{landUseCategory.id}}', (delete)='onDeleteLandUseCategory($event)')
                sb-button(action='update', entity='LandUseCategory', id='{{landUseCategory.id}}', (update)='onUpdateLandUseCategory($event)')
        ng-container(footer='')
          tr
            td.aligform
  .d-flex.flex-column.mb-3
    .p-2
      .input-group
        .input-group-prepend
          label.input-group-text.d-flex.justify-content-center(for='parents')
            fa-icon.mr-1([icon]='["fas", "filter"]')
        select.custom-select(name='parents', (change)='onReportingFrameworkIdChange($event)', [(ngmodel)]='reportingFrameworkId')
          option(disabled='', value='null')
            span.text-muted Select Reporting Framework
          option(*ngfor='let reportingFramework of reportingFrameworksDataService.reportingFrameworks$ | async', value='{{reportingFramework.id}}')
            span {{reportingFramework.name}}
    .p-2
      sb-search((searched)='onSearch($event)')
    .p-2
      sb-loading-animation
  .row
    .col
      sb-table
        ng-container(header='')
          tr
            th.col-sm-10.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.col-sm-1.text-center.align-middle(scope='col')
              span.d-flex.justify-content-center
                | Select
        ng-container(body='')
          tr(*ngfor='let landUseCategory of landUsesCategoriesTableService.landUsesCategories$ | async')
            td.text-left.align-middle
              ngb-highlight([result]='landUseCategory.name', [term]='landUsesCategoriesTableService.searchTerm')
            td.text-center.align-middle
              form
                .row
                  .col
                    .d-flex.justify-content-between.p-2
                      sb-search((searched)='onSearch($event)')
                      sb-loading-animation
                // For Small-Sized Devices Only
                .row.d-md-none
                  .col
                    sb-table
                      ng-container(header='')
                        tr
                          th.col-sm-1.text-center.align-middle(scope='col')
                            span #
                          th.col-sm-5.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
                            span Name
                            sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
                          th.col-sm-4.text-left.align-middle(scope='col', sbsortable='parent', (sort)='onSort($event)')
                            span Parent
                            sb-sort-icon(*ngif='sortedColumn === "parent"', [direction]='sortedDirection')
                          th.col-sm-2.text-center.align-middle(scope='col')
                            span.d-flex.flex-row-reverse
                              | Actions
                      ng-container(body='')
                        tr(*ngfor='let landUseCategory of landUsesCategoriesRecordsTabulationService.landUsesCategories$ | async')
                          td.text-center.align-middle
                            | {{landUseCategory.pos}}
                          td.text-left.align-middle
                            ngb-highlight([result]='landUseCategory.name', [term]='landUsesCategoriesRecordsTabulationService.searchTerm')
                          td.text-left.align-middle
                            ngb-highlight([result]='landUseCategory.parentLandUseCategoryName', [term]='landUsesCategoriesRecordsTabulationService.searchTerm')
                          td.text-center.align-middle
                            span.d-flex.flex-row-reverse
                              sb-button(action='open', entity='Land Use Category', id='{{landUseCategory.id}}', name='{{landUseCategory.name}}', (open)='onOpenLandUseCategoryIndicators($event)', tooltip='Open {{landUseCategory.name}} Indicators Page')
                              sb-button(action='delete', entity='Land Use Category', id='{{landUseCategory.id}}', (delete)='onDeleteLandUseCategory($event)', tooltip='Delete {{landUseCategory.name}}')
                              sb-button(action='update', entity='Land Use Category', id='{{landUseCategory.id}}', (update)='onUpdateLandUseCategory($event)', tooltip='Update {{landUseCategory.name}}')
                      ng-container(footer='', *ngif='this.landUsesCategoriesRecordsTabulationService.reportingFrameworkId != null')
                        tr
                          td.align-middle(scope='col', colspan='6')
                            span.d-flex.flex-row.flex-row-reverse
                              sb-button(action='add', entity='Land Use Category', (add)='onAddLandUseCategory()')
                // For Middle-Sized Devices Upwards
                .row.d-none.d-md-block
                  .col
                    sb-table
                      ng-container(header='')
                        tr
                          th.col-md-1.text-center.align-middle(scope='col')
                            span #
                          th.col-md-5.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
                            span Name
                            sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
                          th.col-md-5.text-left.align-middle(scope='col', sbsortable='parent', (sort)='onSort($event)')
                            span Parent
                            sb-sort-icon(*ngif='sortedColumn === "parent"', [direction]='sortedDirection')
                          th.col-md-1.text-center.align-middle(scope='col')
                            span.d-flex.flex-row-reverse
                              | Actions
                      ng-container(body='')
                        tr(*ngfor='let landUseCategory of landUsesCategoriesRecordsTabulationService.landUsesCategories$ | async')
                          td.text-center.align-middle
                            | {{landUseCategory.pos}}
                          td.text-left.align-middle
                            ngb-highlight([result]='landUseCategory.name', [term]='landUsesCategoriesRecordsTabulationService.searchTerm')
                          td.text-left.align-middle
                            ngb-highlight([result]='landUseCategory.parentLandUseCategoryName', [term]='landUsesCategoriesRecordsTabulationService.searchTerm')
                          td.text-center.align-middle
                            span.d-flex.flex-row-reverse
                              sb-button(action='open', entity='Land Use Category', id='{{landUseCategory.id}}', name='{{landUseCategory.name}}', (open)='onOpenLandUseCategoryIndicators($event)', tooltip='Open {{landUseCategory.name}} Indicators Page')
                              sb-button(action='delete', entity='Land Use Category', id='{{landUseCategory.id}}', (delete)='onDeleteLandUseCategory($event)', tooltip='Delete {{landUseCategory.name}}')
                              sb-button(action='update', entity='Land Use Category', id='{{landUseCategory.id}}', (update)='onUpdateLandUseCategory($event)', tooltip='Update {{landUseCategory.name}}')
                      ng-container(footer='', *ngif='this.landUsesCategoriesRecordsTabulationService.reportingFrameworkId != null')
                        tr
                          td.align-middle(scope='col', colspan='6')
                            span.d-flex.flex-row.flex-row-reverse
                              sb-button(action='add', entity='Land Use Category', (add)='onAddLandUseCategory()')
                .row
                  .col
                    sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
              span.d-flex.justify-content-center
                div(*ngif='selectionMode === "single"; else multi')
                  sb-button(action='select', entity='Land Use Category', id='{{landUseCategory.id}}', name='landUseCategory', [selected]='isSelected(landUseCategory.id)', (select)='onSelect($event)')
                ng-template(#multi='')
                  sb-button(action='check', entity='Land Use Category', id='{{landUseCategory.id}}', name='landUseCategory', [checked]='isChecked(landUseCategory.id)', (check)='onCheck($event)', (uncheck)='onUncheck($event)')
  .row
    .col
      sb-pagination(type='modal', (pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
n-middle(scope='col', colspan='6')
              span.d-flex.flex-row.flex-row-reverse
                sb-button(action='add', entity='LandUseCategory', (add)='onAddLandUseCategory()')
  // For Middle-Sized Devices Upwards
  .row.d-none.d-md-block
    .col
      sb-table
        ng-container(header='')
          tr
            th.col-md-1.text-center.align-middle(scope='col')
              span #
            th.col-md-10.text-left.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.col-sm-1.text-center.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(body='')
          tr(*ngfor='let landUseCategory of landUsesCategoriesTableService.landUsesCategories$ | async')
            td.text-center.align-middle
              | {{landUseCategory.pos}}
            td.text-left.align-middle
              ngb-highlight([result]='landUseCategory.name', [term]='landUsesCategoriesTableService.searchTerm')
            td.text-center.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='LandUseCategory', id='{{landUseCategory.id}}', (delete)='onDeleteLandUseCategory($event)')
                sb-button(action='update', entity='LandUseCategory', id='{{landUseCategory.id}}', (update)='onUpdateLandUseCategory($event)')
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='6')
              span.d-flex.flex-row.flex-row-reverse
                sb-button(action='add', entity='LandUseCategory', (add)='onAddLandUseCategory()')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
