sb-modal
  ng-container(title='')
    | Update {{targetReportingFramework.name}} Land Use Category Record
  ng-container(body='')
    sb-land-use-categories-records-updation([targetreportingframework]='targetReportingFramework', [id]='id', (succeeded)='onSucceeded()', (failed)='onFailed($event)')
    ng-container(*ngif='(status$ | async) === "saving"')
      sb-message-overlay(activity='updating', status='saving')
    ng-container(*ngif='(status$ | async) === "succeeded"')
      sb-message-overlay(activity='updating', status='succeeded')
    ng-container(*ngif='(status$ | async) === "failed"')
      sb-message-overlay(activity='updating', status='failed')
    ng-container(*ngif='(status$ | async) === "retrying"')
      sb-countdown-overlay(crosshead='Retrying in ', (completed)='onSave()')
  ng-container(footer='')
    ng-container(*ngif='(status$ | async) === "new"')
      sb-button(action='save', entity='Land Use Category', (save)='onSave()')
    ng-container(*ngif='(status$ | async) === "saving"')
      sb-button(action='save', entity='Land Use Category', disabled='true')
    ng-container(*ngif='(status$ | async) === "invalid"')
      sb-button(action='save', entity='Land Use Category', (save)='onSave()')
    ng-container(*ngif='(status$ | async) === "succeeded"')
      sb-button(action='save', entity='Land Use Category', disabled='true')
    ng-container(*ngif='(status$ | async) === "failed"')
      sb-button(action='yes', entity='Land Use Category', (yes)='onRetry()')
      sb-button(action='no', entity='Land Use Category', guarded='false', (no)='onQuit()')
    ng-container(*ngif='(status$ | async) === "retrying"')
      sb-button(action='yes', entity='Land Use Category', disabled='true')
      sb-button(action='no', entity='Land Use Category', disabled='true')
