form
  .row
    .col
      .d-flex.justify-content-between.p-2
        sb-search((searched)='onSearch($event)')
        sb-loading-animation
  .row
    .col
      sb-table
        ng-container(header)
          tr
            th.text-center.align-middle(scope='col')
              span #
            th.align-middle(scope='col', sbsortable='name', (sort)='onSort($event)')
              span Name
              sb-sort-icon(*ngif='sortedColumn === "name"', [direction]='sortedDirection')
            th.align-middle(scope='col')
              span Description
            th.align-middle(scope='col')
              span.d-flex.flex-row-reverse
                | Actions
        ng-container(footer='')
          tr
            td.align-middle(scope='col', colspan='4')
              span.d-flex.flex-row-reverse
                sb-button(action='add', entity='FluxType', (add)='onAddFluxType()')
        ng-container(body')
          tr(*ngfor='let fluxType of fluxTypesTableService.fluxTypes$ | async')
            td.text-center.align-middle
              | {{fluxType.pos}}
            td.align-middle
              ngb-highlight([result]='fluxType.name', [term]='fluxTypesTableService.searchTerm')
            td.align-middle
              ngb-highlight([result]='fluxType.description', [term]='fluxTypesTableService.searchTerm')
            td.align-middle
              span.d-flex.flex-row-reverse
                sb-button(action='delete', entity='FluxType', id='{{fluxType.id}}', (delete)='onDeleteFluxType($event)')
                sb-button(action='update', entity='FluxType', id='{{fluxType.id}}', (update)='onUpdateFluxType($event)')
  .row
    .col
      sb-pagination((pagechanged)='onPageChange($event)', (pagesizechanged)='onPageSizeChange($event)')
