sb-modal
  ng-container(title='')
    | Create Reporting Framework Record
  ng-container(body)
    sb-reporting-frameworks-records-creation((succeeded)='onSucceeded()', (failed)='onFailed($event)')
    ng-container(*ngif='(status$ | async) === "saving"')
      sb-message-overlay(activity='creating', status='saving')
    ng-container(*ngif='(status$ | async) === "succeeded"')
      sb-message-overlay(activity='creating', status='succeeded')
    ng-container(*ngif='(status$ | async) === "failed"')
      sb-message-overlay(activity='creating', status='failed')
    ng-container(*ngif='(status$ | async) === "retrying"')
      sb-countdown-overlay(crosshead='Retrying in ', (completed)='onSave()')
  ng-container(footer='')
    ng-container(*ngif='(status$ | async) === "new"')
      sb-button(action='save', entity='Reporting Framework', (save)='onSave()')
    ng-container(*ngif='(status$ | async) === "saving"')
      sb-button(action='save', entity='Reporting Framework', disabled='true')
    ng-container(*ngif='(status$ | async) === "invalid"')
      sb-button(action='save', entity='Reporting Framework', (save)='onSave()')
    ng-container(*ngif='(status$ | async) === "succeeded"')
      sb-button(action='yes', entity='Reporting Framework', guarded='false', (yes)='onContinue()')
      sb-button(action='no', entity='Reporting Framework', guarded='false', (no)='onQuit()')
    ng-container(*ngif='(status$ | async) === "failed"')
      sb-button(action='yes', entity='Reporting Framework', (yes)='onRetry()')
      sb-button(action='no', entity='Reporting Framework', guarded='false', (no)='onQuit()')
    ng-container(*ngif='(status$ | async) === "retrying"')
      sb-button(action='yes', entity='Reporting Framework', disabled='true')
      sb-button(action='no', entity='Reporting Framework', disabled='true')
